* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #222;
  padding-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

/* JavaScript */
.nav.active {
  background: white;
}
.nav.active a {
  color: #000;
}

.hero {
  background: url(https://images.unsplash.com/photo-1710192230003-b73ed3eff86c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE1MXw2c01WalRMU2tlUXx8ZW58MHx8fHx8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}
.hero p {
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 700px;
  line-height: 30px;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 246, 247);
}
.content {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background: rgb(220, 225, 230);
}
.content h2 {
  margin-bottom: 20px;
  color: #444;
}
.content p {
  font-family: sans-serif;
  line-height: 25px;
}
